@use "../../../../assets/variables" as *;
.home-contact-form {
  width: 80%;
  display: flex;
  min-height: 450px;
  margin: 30px auto;
  background-color: $white;
  flex-wrap: wrap;
  border-radius: 5px;
  min-width: 250px;

  .infos {
    margin: 7px;
    padding: 25px;
    padding-right: 15px;
    border-radius: 5px;
    flex: 1;
    position: relative;
    overflow: hidden;
    min-width: 250px;
    background: linear-gradient(180deg, #f4c43c 0%, #8e7223 100%);
    .cordonnees {
      line-height: 30px;
      p {
        font-size: 0.8rem;
      }
    }
    .addreesses {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (max-width:1000px) {
        position: relative;
        top: 0%;
        transform: translate(0%, 0%);
        margin-top: 20px;
      }
      .phonenumber{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 18px;
        max-width: 90%;
      }
      p {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: 18px;
        max-width: 90%;
      
        img {
          height: 20px;
        }
      }
    }
    .big-circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: aliceblue;
        position: absolute;
        bottom: -40px;
        right: -40px;
        opacity: 0.2;
        filter: blur(2px);

    }
    .small-circle{
        width: 90px;
        height:90px;
        border-radius: 50%;
        background-color: aliceblue;
        position: absolute;
        bottom: 50px;
        right: 50px;
        opacity: 0.3;
       filter: blur(2px);

    }

  }
  form {
    flex: 1.7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 50px 50px 50px;
    gap: 15px;
    @media (max-width:600px) {
display: flex;
flex-direction: column;    }
    div{
      display: flex;
      flex-direction: column;
      gap: 10px;
      input,textarea{
        border: none;
        border-bottom: 3px solid rgba(128, 128, 128, 0.543);
        padding: 10px 0px;
        resize: none;
        &:focus{
          outline: none;
          border-bottom: 3px solid $yellow ;
        }
      }
    }
    .textearaBox{
      grid-column: 1/3;
    }
    button{
      grid-column: 2/3;
      background-color: $black;
      color: $white;
      border: none;
      height: 40px;
      width: 80%;
      margin-top: 10px;
      transition:all 0.2s ease;
      cursor: pointer;
      &:hover{
        scale: 1.02;
      }
      &:active{
        scale: 0.98;
      }
}
    
  }
}
