@use "../../../assets/variables" as *;
.homeLoader{
    position: relative;
    width: 100vw;
    height: 100vh;
    .header {
        color: $black;
        max-height: 100vh;
        height: 100vh;
        width: inherit;
        position: relative;
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 0.911922268907563) 0%,
          rgba(220, 220, 220, 1) 58%
        );
        object-fit: cover;
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 45%;
    
      }
      h1{
        position: fixed;
        font-size: 3rem;
        line-height: 40px;
        letter-spacing: 3px;
        font-weight: 400;
      }
}