@keyframes animationBar {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(0deg);
    }
  }
  
  @keyframes animationBar2 {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(0deg);
    }
  }
  