@use "../../../assets/variables" as * ;
.about-header{
    margin-top: 40px;
    position: relative;
header{
    min-height: 300px;
    @include flexG(30px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    color: $white;
    @media (max-width:600px) {
        padding: 20px 4%;
        text-align: justify;

    }
    h4{
        font-size: 2.3rem;
    }

}
.overlay{
    width: 200px;
    height: 200px;
     background-color: $white;
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-80%);
     filter: blur(160px);
     opacity: 0.6;
}
}